body{
    background:#dddddd;
    color:#e75480;
    margin-top:5rem;
    margin-bottom: 5rem;
}
.content-section {
    background: #dddddd;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }


.navbar-light{
     background-color:white;
     
}

.nav-fluid{
    color:white;
}

.nav-list{
    background-color:#e75480;
    margin-bottom:1rem;
    
}

.nav-list:focus{
    border-color:red;
    background-color: #ed3431;
    -webkit-box-shadow:none;
    box-shadow:none;
}

.nav-list:hover{
    background-color: #ed3431;
}


.store-brand{
    color:#e75480;
}

.store-brand:hover{
    color:#ed3431
}

.search-box{
    border-color:#e75480;
}

.search-box:focus{
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color:#ed3431;
}


.search-button{
    color:white;
    background-color: #e75480;
    border: #e75480;
}

.search-button:hover{
    background-color: #ed3431;
    color:white;
}

.search-button:active{
    background-color: #ed3431;
    color:white;
    -webkit-box-shadow: none;
    box-shadow: none;
}


.slide-container{
    width: 1300px;
    height: 600px;
    margin-left:auto;
    margin-right:auto;
    overflow: hidden;
    text-align: center;
}

.image-container{
    width:6500px;
    height: 600px;
    position: relative;
    transition: left 2s;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
}

.slider-image{
    float:left;
    margin:0px;
    padding:0px;
    width: 1300px;
    height: 600px;
}
.button-container{
    top: -30px;
    position:relative;
}

.slider-button{
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color:gray;
}
.slider-button:hover{
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color:#ed3431;
}



#slider-image1:target ~ .image-container{
    left:0px;
}
#slider-image2:target ~ .image-container{
    left:-1300px;
}
#slider-image3:target ~ .image-container{
    left:-2600px;
}
#slider-image4:target ~ .image-container{
    left:-3900px;
}
#slider-image5:target ~ .image-container{
    left:-5200px;
}

.head-row{
    width: 1300px;
    height: 50px;
    background-color:#e75480;
    color:white;
    margin-top:0.5rem;
    margin-left:1.5rem;
    border-radius: 0.5rem;
}

h4{
    font-style: Luminari;
}
.content-box1{
    width: 1300px;
    height:max-content;
    background-color:white;
    color:#e75480;
    margin-top:-0.7rem;
    margin-left:1.5rem;
    
}
.extra{
    margin-left:0.3rem;
}
.extra-1{
    margin-left:0.3rem;
    margin-bottom:0;
}

.prod_image{
    float:left;
    margin:1rem;
    padding:0;
    width: 250px;
    height:300px;
    border:2px solid #e75480;
    margin-top: 0.2rem;
    align-items: center;
}

.thumbnail{
    display:inline-grid;
    align-content: center;
    text-align: center;
    word-wrap: break-word;
}
.caption{
    word-wrap:break-word;
    max-width: 282px;
    max-height: 200px;
    min-height: 200px
}

.view-button{
    background-color:#e75480;
    border:#e75480;
    color:white;
}

.view-button:hover{
    background-color:#ed3431;
    border:#e75480;
    color:white;
}

.view-button:focus{
    background-color:#e75480;
    -webkit-box-shadow: none;
    box-shadow: none;
    color:white;
}

.view-button:active{
    background-color:#e75480;
    -webkit-box-shadow: none;
    box-shadow: none;
    color:white;
}

.cart-button{
    background-color: #f39c9b;
    color:white;
}

.cart-button:hover{
    background-color: #ed3431;
    -webkit-box-shadow: none;
    box-shadow: none;
    color:white;
}

.cart-button:active{
    background-color: #ed3431;
    -webkit-box-shadow: none;
    box-shadow: none;
    color:white;
}
.cart-button:focus{
    background-color:#f39c9b;
    -webkit-box-shadow: none;
    box-shadow: none;
    color:white;
}

.cart{
    width:30px;
    height:30px;
}
.badge{
    background-color: #e75480;
    width:20px;
    height: 20px;
    border-radius: 10px;
    margin-left: -0.5rem;
    margin-bottom: 0.3rem;
    text-align: center;
}

.badge:hover{
    background-color: #ed3431;
}

.account-menu{
    cursor: pointer;
}

.account-menu:hover{
    cursor: pointer;
    color:#ed3431;
}

.login{
    color:white;
    background-color:#e75480;
    border:1px solid red;
    width: 100px;
    margin-left:1.5rem;
}

.login:hover, .login:active{
    color:white;
    background-color:#ed3431;
}

.logindrop:hover,.logindrop:active{
    background-color: #ed3431;
    color:white;
}

.logindrop{
    color:white;

}

.otherdrop:hover, .otherdrop:active{
    color:#ed3431;
    background-color:white;
}

.view-holder{
    margin-left:15rem;
    border:5px solid #e75480;
    max-width: 300px;
    background-color:white;

}

.product_image{
    width:289.5px;
    height:320px;
}

.view-container{
    background-color:#ffffff;
    height:100px;
    display: inline-flex;
    width: max-content;
}
.king-view-container{
    background-color:#ffffff;
    border: 2px solid #ed3431;
    height: 240px;
}

.input-quantity{
    width: 70px;
    height:40px;
    margin-left:10rem;
    margin-top:-2.7rem;
    background-color: #e75480;
    color:white
}

.input-quantity:focus{
    background-color: #e75480;
    color:white;
    -webkit-box-shadow:none;
    box-shadow: #ed3431;
}

.cart-button-again{
    margin-top: 1.5rem;
    margin-left: 5.5rem;
}

.cart_img{
    width: 254px;
    height: 270px;
    border:2px solid #e75480;
}

.cart-summary-container{
    margin-left:58rem;
    margin-bottom: 0rem;
    position: static;
}

.checkout-button{
    background-color: #e75480;
    color: #ffffff;
    border: #e75480;
}

.checkout-button:hover,.checkout-button:active,.checkout-button:focus{
    background-color: #ed3431;
    color: #ffffff;
    -webkit-box-shadow:none;
    box-shadow: none;
}

.continue-shop:active,.continue-shop:hover,.continue-shop:focus{
    background-color: #ed3431;
    color: #ffffff;
    -webkit-box-shadow:none;
    box-shadow: none;
}

.form-control:focus,.form-control:active{
    -webkit-box-shadow:none;
    box-shadow: none;
    border:0.5px solid#ed3431;
}

.status{
    height: 20px;
    width: 75px;
    border-radius: 5px;
}

.capitalize{
    text-transform: uppercase;
}